In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_columns', None)

In [2]:
# Cargamos los datos originales del fichero
df = pd.read_csv('../data/datasets/data.csv' , sep=';')

In [3]:
df.head()

,id_leg,runway,operation1,operation2,hexid,callsign,time_stamp,altitude,ground_speed,vertical_rate,type,origin,destination,part_date_utc,valid_time,tmp,dew_pt,rel_hum,wind_dir,win_sp,wind_gust,visib,press,sky_lvl,rain,snow,drizzle,fog,time_class,day_week,month,time_ref
0,fff052a,32R,Landing,Landing,342210,IBE3329,2018-01-01 02:43:52,1625.0,142.0,-768.0,A321,DSS,MAD,2018-01-01,2018-01-01 02:30:00,7.0,0.0,61.017,250.0,20.372,0.000000,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,6
1,ffe804b,32R,Landing,Landing,3424D0,AEA026,2018-01-01 03:24:37,1850.0,137.0,-768.0,A332,VVI,MAD,2018-01-01,2018-01-01 03:00:00,7.0,-1.0,56.724,250.0,25.928,44.447962,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,7
2,ffe725d,32R,Landing,Landing,34530C,AEA042,2018-01-01 03:38:12,2200.0,156.0,-832.0,B788,EZE,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8
3,ffea19d,32R,Landing,Landing,344211,AEA058,2018-01-01 03:57:16,1862.5,143.0,-640.0,A332,GRU,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8
4,ffe781e,32R,Landing,Landing,3422CA,AEA046,2018-01-01 04:05:21,2000.0,136.0,-640.0,A332,MVD,MAD,2018-01-01,2018-01-01 04:00:00,5.0,0.0,70.063,160.0,12.964,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,9

In [4]:
df.shape

(733826, 32)

In [5]:
# Generamos las variables dummy 
dummy_operation = pd.get_dummies(df['operation1'] , prefix='operation')
dummy_runway = pd.get_dummies(df['runway'] , prefix='runway')

df = pd.concat([df , dummy_operation , dummy_runway] , axis=1)

In [6]:
#Comprobamos si tenemos valores desconocidos con el procesamiento anterior
print(df.isnull().sum())
print(df.shape)

id_leg                     0
runway                     1
operation1                 1
operation2                 1
hexid                      1
callsign                   2
time_stamp                 1
altitude                   1
ground_speed               1
vertical_rate              1
type                    1039
origin                  2296
destination            34868
part_date_utc              1
valid_time                 1
tmp                    29968
dew_pt                 29968
rel_hum                29968
wind_dir              110476
win_sp                 30002
wind_gust               3033
visib                  32013
press                  29968
sky_lvl                 3033
rain                    3033
snow                    3033
drizzle                 3033
fog                     3033
time_class                 1
day_week                   1
month                      1
time_ref                   0
operation_Landing          0
operation_Take-Off         0
runway_14L                 0
runway_14R                 0
runway_18L                 0
runway_18R                 0
runway_32L                 0
runway_32R                 0
runway_36L                 0
runway_36R                 0
dtype: int64
(733826, 42)

In [7]:
# Arreglamos los NAN de los valores climatológicos y los destinos y origenes que no sabemos y borramos los demas registros que tengan nan
meteorology_list = ['tmp','dew_pt','rel_hum','wind_dir','win_sp','wind_gust','visib','press','sky_lvl','rain','snow','drizzle','fog']
origin_destination = ['origin' , 'destination' , 'type']


df[meteorology_list] = df[meteorology_list] = df[meteorology_list].fillna(method='ffill')
df[origin_destination] = df[origin_destination].fillna('DESC')

#Eliminamos el resto de Nan
df = df.dropna(axis=0)

In [8]:
df.head()

,id_leg,runway,operation1,operation2,hexid,callsign,time_stamp,altitude,ground_speed,vertical_rate,type,origin,destination,part_date_utc,valid_time,tmp,dew_pt,rel_hum,wind_dir,win_sp,wind_gust,visib,press,sky_lvl,rain,snow,drizzle,fog,time_class,day_week,month,time_ref,operation_Landing,operation_Take-Off,runway_14L,runway_14R,runway_18L,runway_18R,runway_32L,runway_32R,runway_36L,runway_36R
0,fff052a,32R,Landing,Landing,342210,IBE3329,2018-01-01 02:43:52,1625.0,142.0,-768.0,A321,DSS,MAD,2018-01-01,2018-01-01 02:30:00,7.0,0.0,61.017,250.0,20.372,0.000000,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,6,1,0,0,0,0,0,0,1,0,0
1,ffe804b,32R,Landing,Landing,3424D0,AEA026,2018-01-01 03:24:37,1850.0,137.0,-768.0,A332,VVI,MAD,2018-01-01,2018-01-01 03:00:00,7.0,-1.0,56.724,250.0,25.928,44.447962,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,7,1,0,0,0,0,0,0,1,0,0
2,ffe725d,32R,Landing,Landing,34530C,AEA042,2018-01-01 03:38:12,2200.0,156.0,-832.0,B788,EZE,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8,1,0,0,0,0,0,0,1,0,0
3,ffea19d,32R,Landing,Landing,344211,AEA058,2018-01-01 03:57:16,1862.5,143.0,-640.0,A332,GRU,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8,1,0,0,0,0,0,0,1,0,0
4,ffe781e,32R,Landing,Landing,3422CA,AEA046,2018-01-01 04:05:21,2000.0,136.0,-640.0,A332,MVD,MAD,2018-01-01,2018-01-01 04:00:00,5.0,0.0,70.063,160.0,12.964,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,9,1,0,0,0,0,0,0,1,0,0

In [9]:
#Comprobamos si tenemos valores desconocidos con el procesamiento anterior
print(df.isnull().sum())
print(df.shape)

id_leg                0
runway                0
operation1            0
operation2            0
hexid                 0
callsign              0
time_stamp            0
altitude              0
ground_speed          0
vertical_rate         0
type                  0
origin                0
destination           0
part_date_utc         0
valid_time            0
tmp                   0
dew_pt                0
rel_hum               0
wind_dir              0
win_sp                0
wind_gust             0
visib                 0
press                 0
sky_lvl               0
rain                  0
snow                  0
drizzle               0
fog                   0
time_class            0
day_week              0
month                 0
time_ref              0
operation_Landing     0
operation_Take-Off    0
runway_14L            0
runway_14R            0
runway_18L            0
runway_18R            0
runway_32L            0
runway_32R            0
runway_36L            0
runway_36R            0
dtype: int64
(733824, 42)

In [10]:
# Realizamos la codificación basada en etiquetas
columns_to_encoder = ['id_leg','operation1','hexid','callsign','type','origin','destination','runway']
X = df[columns_to_encoder].values
encoder = LabelEncoder()
new_columns = []
for i , value in enumerate(columns_to_encoder):
    X[:,i] = encoder.fit_transform(X[:,i])
    X[:,i] = encoder.fit_transform(X[:,i])
    X[:,i] = encoder.fit_transform(X[:,i])
    new_columns.append(value + "NORM")

aux = pd.DataFrame(data=X , columns=new_columns)
df = pd.concat([df , aux] , axis=1)
df = df.dropna(axis=0)

In [11]:
df.shape

(733822, 50)

In [12]:
df.head()

,id_leg,runway,operation1,operation2,hexid,callsign,time_stamp,altitude,ground_speed,vertical_rate,type,origin,destination,part_date_utc,valid_time,tmp,dew_pt,rel_hum,wind_dir,win_sp,wind_gust,visib,press,sky_lvl,rain,snow,drizzle,fog,time_class,day_week,month,time_ref,operation_Landing,operation_Take-Off,runway_14L,runway_14R,runway_18L,runway_18R,runway_32L,runway_32R,runway_36L,runway_36R,id_legNORM,operation1NORM,hexidNORM,callsignNORM,typeNORM,originNORM,destinationNORM,runwayNORM
0,fff052a,32R,Landing,Landing,342210,IBE3329,2018-01-01 02:43:52,1625.0,142.0,-768.0,A321,DSS,MAD,2018-01-01,2018-01-01 02:30:00,7.0,0.0,61.017,250.0,20.372,0.000000,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,733513,0,483,6920,22,186,268,5
1,ffe804b,32R,Landing,Landing,3424D0,AEA026,2018-01-01 03:24:37,1850.0,137.0,-768.0,A332,VVI,MAD,2018-01-01,2018-01-01 03:00:00,7.0,-1.0,56.724,250.0,25.928,44.447962,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,733498,0,515,246,23,664,268,5
2,ffe725d,32R,Landing,Landing,34530C,AEA042,2018-01-01 03:38:12,2200.0,156.0,-832.0,B788,EZE,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,733495,0,814,262,67,212,268,5
3,ffea19d,32R,Landing,Landing,344211,AEA058,2018-01-01 03:57:16,1862.5,143.0,-640.0,A332,GRU,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,733501,0,625,277,23,254,268,5
4,ffe781e,32R,Landing,Landing,3422CA,AEA046,2018-01-01 04:05:21,2000.0,136.0,-640.0,A332,MVD,MAD,2018-01-01,2018-01-01 04:00:00,5.0,0.0,70.063,160.0,12.964,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,733496,0,491,268,23,421,268,5

In [13]:
df.isnull().sum(axis = 0)

id_leg                0
runway                0
operation1            0
operation2            0
hexid                 0
callsign              0
time_stamp            0
altitude              0
ground_speed          0
vertical_rate         0
type                  0
origin                0
destination           0
part_date_utc         0
valid_time            0
tmp                   0
dew_pt                0
rel_hum               0
wind_dir              0
win_sp                0
wind_gust             0
visib                 0
press                 0
sky_lvl               0
rain                  0
snow                  0
drizzle               0
fog                   0
time_class            0
day_week              0
month                 0
time_ref              0
operation_Landing     0
operation_Take-Off    0
runway_14L            0
runway_14R            0
runway_18L            0
runway_18R            0
runway_32L            0
runway_32R            0
runway_36L            0
runway_36R            0
id_legNORM            0
operation1NORM        0
hexidNORM             0
callsignNORM          0
typeNORM              0
originNORM            0
destinationNORM       0
runwayNORM            0
dtype: int64

In [14]:
# Ordenamos el dataset
sorted_colums = ['id_leg', 'runway','operation1', 'operation2', 'hexid', 'callsign', 'time_stamp',
       'altitude', 'ground_speed', 'vertical_rate', 'type', 'origin',
       'destination', 'part_date_utc', 'valid_time', 'tmp', 'dew_pt',
       'rel_hum', 'wind_dir', 'win_sp', 'wind_gust', 'visib', 'press',
       'sky_lvl', 'rain', 'snow', 'drizzle', 'fog', 'time_class', 'day_week',
       'month', 'time_ref', 'id_legNORM',
       'operation1NORM', 'hexidNORM', 'callsignNORM', 'typeNORM', 'originNORM',
       'destinationNORM' , 'operation_Landing', 'operation_Take-Off',
       'runway_14L', 'runway_14R', 'runway_18L', 'runway_18R', 'runway_32L',
       'runway_32R', 'runway_36L', 'runway_36R', 'runwayNORM']

df = df[sorted_colums]
df = df.rename(columns={'operation1NORM' : 'operationNORM'})
df.head()

,id_leg,runway,operation1,operation2,hexid,callsign,time_stamp,altitude,ground_speed,vertical_rate,type,origin,destination,part_date_utc,valid_time,tmp,dew_pt,rel_hum,wind_dir,win_sp,wind_gust,visib,press,sky_lvl,rain,snow,drizzle,fog,time_class,day_week,month,time_ref,id_legNORM,operationNORM,hexidNORM,callsignNORM,typeNORM,originNORM,destinationNORM,operation_Landing,operation_Take-Off,runway_14L,runway_14R,runway_18L,runway_18R,runway_32L,runway_32R,runway_36L,runway_36R,runwayNORM
0,fff052a,32R,Landing,Landing,342210,IBE3329,2018-01-01 02:43:52,1625.0,142.0,-768.0,A321,DSS,MAD,2018-01-01,2018-01-01 02:30:00,7.0,0.0,61.017,250.0,20.372,0.000000,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,6.0,733513,0,483,6920,22,186,268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5
1,ffe804b,32R,Landing,Landing,3424D0,AEA026,2018-01-01 03:24:37,1850.0,137.0,-768.0,A332,VVI,MAD,2018-01-01,2018-01-01 03:00:00,7.0,-1.0,56.724,250.0,25.928,44.447962,10.0,1030.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,7.0,733498,0,515,246,23,664,268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5
2,ffe725d,32R,Landing,Landing,34530C,AEA042,2018-01-01 03:38:12,2200.0,156.0,-832.0,B788,EZE,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8.0,733495,0,814,262,67,212,268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5
3,ffea19d,32R,Landing,Landing,344211,AEA058,2018-01-01 03:57:16,1862.5,143.0,-640.0,A332,GRU,MAD,2018-01-01,2018-01-01 03:30:00,7.0,-1.0,56.724,230.0,16.668,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,8.0,733501,0,625,277,23,254,268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5
4,ffe781e,32R,Landing,Landing,3422CA,AEA046,2018-01-01 04:05:21,2000.0,136.0,-640.0,A332,MVD,MAD,2018-01-01,2018-01-01 04:00:00,5.0,0.0,70.063,160.0,12.964,0.000000,10.0,1031.0,10.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,9.0,733496,0,491,268,23,421,268,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5

In [15]:
# Exportamos el dataset original con los datos limpios y normalizados
df.to_csv("../data/datasets/cleanData.csv" , sep=';' , index=False)